body{
    background-color: rgba(7, 246, 226, 0.895);}
.form{
    margin: 10% 35%;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 10%;
    padding: 10px;
}
.form input{
    border: white;
    font-size: 25px;
    margin: 5px 10px;
   background-color: rgba(7, 246, 226, 0.895);
}
.form p{
    margin: 1vh;
    font-size: 35px;
}
:hover{
    font-size: 38px;
}
.login :hover{
font-size: 40px;
}
.sign :hover{
    font-size: 50px;
}
.form button{
    background-color:rgba(7, 246, 226, 0.895);
    border: none;
}
*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: black;
}
.gender{
    display: flex;
   align-items: center;
   text-align: center;
   margin: 0 40px;
}
.male :hover{
font-size: 50px;

}

.female :hover{
    font-size: 50px;

}
.other :hover{
    font-size: 50px;

}